<!-- <%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %> -->

<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form:form action="/student/confirm"  modelattribute="student" method="POST">
<!--        First name : <form:input path="firstName" />-->
        <input type="text" value="kamil" name="firstName"/>
        <br/>
        <br/>
<!--        Last name : <form:input path="lastName" />-->
        <input type="text" value="kamilzade" name="lastName"/>
        <br/>
        <br/>
        <button type="submit">Submit</button>
    </form:form>
</body>
</html>